.activities {
  text-align: center;
  background-color: #cfe8f3;
  padding: 50px; 
  min-height: 100vh;
}
.boxg-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.cardg {
  text-decoration: none;
  color: #333;
  margin: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  width: 250px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardg:hover {
  transform: translateY(-5px);
}

.imageg-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imageg-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardg-content {
  padding: 15px;
  text-align: center;
  background-color: #f9f9f9;
}